<form class="form-inline" method="post" asp-controller="Invoice" asp-action="ViewInvoice">
    <div class="form-group">
        <label for="invoiceNo">No Invoice</label>
        <input type="text" id="invoiceNo" name="invoiceNo" class="form-control" />
        <button type="submit" class="btn btn-primary">View</button>
    </div>
</form>
