@model InvoiceApp.Models.TrInvoice

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Invoice Form</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <link href="~/css/styles.css" rel="stylesheet" type="text/css" />
</head>
<body>

<div class="container mt-4">

    <!-- InvoiceNo Form -->
    <form class="form-inline mb-4" method="get" asp-action="Index">
        <div class="form-group mr-2">
            <label for="invoiceNo" class="mr-2">Invoice No</label>
            <input type="text" id="invoiceNo" name="invoiceNo" class="form-control" value="@Context.Request.Query["invoiceNo"]" />
        </div>
        <button type="submit" class="btn btn-primary mr-2">View</button>
        <button type="button" class="btn btn-success" onclick="location.href='@Url.Action("Create", "TrInvoice")'">Add</button>
    </form>



    @if (Model != null)
    {
    
        @Html.Partial("_InvoiceDetail", Model)

        <!-- Invoice Table -->
        @Html.Partial("_InvoiceTable", Model)


    
    }
</div>

</body>
</html>
